[mysqld]

# Store database files in the Docker volume
# matches the persistent volume
datadir=/var/lib/mysql

# Allow WordPress container to connect through the Docker network
bind-address=0.0.0.0

# MariaDB listens on the default MySQL port
port=3306

# Use full Unicode support for storing website content
# (text, emojis, multiple languages)
character-set-server=utf8mb4

# Define how text comparisons and sorting are handled
# (Unicode, case-insensitive)
collation-server=utf8mb4_unicode_ci

# Logging
log_error=/var/log/mysql/error.log
